<h1>All Bloggers</h1>


<p><%= will_paginate %></p>
<% @users.each do |user| %>

	<ul>
		<li><%= link_to gravatar_for(user), user_path(user) %></li>
		<li><%= link_to user.username, user_path(user) %></li>
		<li><%= pluralize(user.articles.count, "article") if user.articles %></li>
	</ul>

<% end %>
<p><%= will_paginate %></p>