<h1>Welcome <%= @user.username %>!</h1>

<%= gravatar_for @user, size: 150 %>

<h4><%= @user.username %>'s articles</h4>
<%= render 'articles/article', obj: @user_articles %>
<%= will_paginate @user_articles %>